<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ルール</title>
    <link rel="stylesheet" href="rule.css">
    <script src="../screenmove.js" defer></script>
</head>
<body>
    <a th:href="@{start}">
    <button class="matchingStart">スタート画面に戻る</button>
    </a>
    <div id="rule">
     <h1>ルール説明</h1>
    
     <ol>
         <li>1</li>
         <li>2</li>
         <li>3</li>
         <li>4</li>
     </ol>

     <ul>
         <li>1</li>
         <li>2</li>
         <li>3</li>
         <li>4</li>
     </ul>
    </div>
</body>
</html>